@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
}

body {
	background: rgba(0, 0, 0, 0.8);
	/*background: url(Imagenes/Imagen1.jpg);*/
	background-attachment: fixed;
	background-repeat: repeat-x;
	color: #fff;

}


header {
	background: #B3B3B3;
	height: 75px;
	width: 100%;
	position: relative;


}

h1 {
	background: #000;
	padding: 2px 15px;
	color: #fff;
	font-size: 25px;
	height: 30px;
	width: 100% - 15px;
	position: relative;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;


}

.b {
	width: 120px;
    height: 30px;

    text-align: center;
	font-size: 20px;
    text-decoration: none;
    /*margin: 5px 6px;*/
    display: inline-block;
    background: #B3B3B3;
    color: #000;
    padding: 5px 8px;
    position: relative;

    float: left;
}

.b:hover {
    background: #8D8D8D;
}

.b:active {
	background: #656565;
}

h2{
	font-weight: bold;
	text-align: center;
	font-size: 40px;
	text-shadow: 2px 2px 6px #000;
	top: 10px;
	clear: left;
}

p {
	font-size: 20px;
	height: 74.2%;
	padding: 15px 15px ;
    font-family: Arial, Helvetica, Sans-serif;
    text-align: center;
    line-height: 30px;
    letter-spacing: normal;
    word-spacing: normal;
    margin: 0px 0px;

}

.logo {
	float: right;
}